{% extends 'base.html' %}

{% block title %}
<h2>Top 10 de artistas</h2>
{% endblock %}

{% block content %}

<h2>TOP 10!!!!</h2>

<div class="row">
    <div class="col-xs-6 col-lg-4">
      <h2>1. Radiohead</h2>
      <h6>Valorado 4.086  de 5  por 709 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>2. The Beatles</h2>
      <h6>Valorado 3.991  de 5  por 614 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>3. Coldplay</h2>
      <h6>Valorado 3.889  de 5  por 635 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>4. The Killers</h2>
      <h6>Valorado 3.873  de 5  por 576 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>5. The Cure</h2>
      <h6>Valorado 3.817 de 5  por 576 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>6. Muse</h2>
      <h6>Valorado 3.723  de 5  por 594 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>7. The White Stripes</h2>
      <h6>Valorado 3.674  de 5  por 562 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>8. Red Hot Chili Peppers</h2>
      <h6>Valorado 3.637  de 5  por 571 usuarios</h6>
    </div>    <div class="col-xs-6 col-lg-4">
      <h2>9. Nirvana</h2>
      <h6>Valorado 3.623 de 5  por 563 usuarios</h6>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>10. Franz Ferdinand</h2>
      <h6>Valorado 3.601  de 5  por 562 usuarios</h6>
    </div>
</div>


{% endblock %}