{% extends 'base.html' %}

{% block title %}
<h2>Lista de los artistas</h2>
{% endblock %}

{% block content %}
{% if wine_list %}
<div class="row">
    {% for wine in wine_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:wine_detail' wine.id %}">
        {{ wine.name }}
        </a></h4>
        <h5>{{ wine.review_set.count }} valoraciones</h5>
        <h5>{{ wine.average_rating | floatformat }} promedio de los rating </h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No hay artistas disponibles.</p>
{% endif %}
{% endblock %}